		input{
        	    margin-left: 15px;
    	        border-radius: 5px;
 	           	border-style: hidden;
            	height: 30px;
        	    width: 140px;
    	        background-color:whitesmoke;
  	          	color: black;
            	padding-left: 10px;
         }
		.button {
            border-color: cornsilk;
             background-color: rgba(100, 149, 237, .7);
            color: aliceblue;
            border-style: hidden;
            border-radius: 5px;
            width: 50px;
            height: 22px;
            font-size: 12px;
        }
        .Tab{
        	border-color:white;
        	width:100%;
        	border:0px;
        	
        }
        .Tab td{ 
        	border-color:white;
        	background-color:whitesmoke;
        	border-top-left-radius: 10px;
    		border-top-right-radius: 10px;
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px
        }
        .Tab th{
        	border-color:white;
        	background-color:rgba(100, 149, 237, .7);
        	border-top-left-radius: 10px;
    		border-top-right-radius: 10px;
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px
        }